{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "globals": {
        "globalThis": true,
        "Promise": true,
        "jasmine": true,
        "describe": true,
        "ddescribe": true,
        "xdescribe": true,
        "it": true,
        "iit": true,
        "xit": true,
        "expect": true,
        "beforeEach": true,
        "afterEach": true,
        "getCurrentSuite": true,
        "getCurrentTest": true,
        "getCurrentReport": true,
        "setCurrentSuite": true,
        "setCurrentTest": true,
        "setCurrentReport": true,
        "runs": true,
        "waitsFor": true,
        "spyOn": true
    },
    "rules": {
        "eqeqeq": [1, "allow-null"],
        "indent": ["error", 2, {"ignoreComments": true}],
        "linebreak-style": ["error", "unix"],
        "no-redeclare": [0],
        "no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "strict": ["error", "global"]
    }
}
